section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

.image-link {
  width: 100%;
  margin-bottom: 10px;
}

.image-link img {
  width: 100%;
  height: auto;
  display: block;
}